<!DOCTYPE html>
<html>
<head>
	<title>SPY Walk Rally</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="../assets/css/main.css">
</head>

<body>
	

    <section class="hero is-medium is-black">
      <div class="hero-body" style="padding-bottom: 3rem;padding-top: 3rem;">
        <div class="container">
          <div class="columns">
            <div class="column is-8-desktop is-offset-2-desktop">

              <img src="../assets/image/spy-cover-logo.png" style="display:inline-block" width="500">

            </div>
          </div>
        </div>
      </div>
    </section>


	<section class="section">
		<div class="container">
			<div class="columns">
				<div class="column">
					<a class="navbar-item button is-dark" href="/">
			        	Home
			      	</a>
			      </div>
			      <div class="column">
			      	<a class="navbar-item button is-light" href="/player">
				        Current Players
					</a>
				</div>
			      <div class="column">
			      	<a class="navbar-item button is-dark" href="/registration">
				        Final Checkpoint
					</a>
				</div>
		  	</div>
		</div>
	</section>

    <section class="section">
    	<div class="container" id="disp">

    		<table class="table  is-fullwidth">
			  <thead>
			    <tr>
			      <th><abbr title=""></abbr></th>
			      <th><abbr title="Token ID">Token ID</abbr></th>
			      <th><abbr title="Tracking Station">Tracking Station</abbr></th>
			    </tr>
			  </thead>
			  <tbody>
			  	<% for(var i = 0; i < rows.length; i++) { %>
				    <tr>
				      <th><%= i+1 %></th>
				      <td><%= rows[i].token %></td>
				      <td><%= rows[i].station %></td>
				      <!--<td><%= rows[i].timestamp %></td>-->
				    </tr>
			    <% } %>
			  </tbody>
			</table>


      	</div>
  	</section>


    <footer class="footer has-text-centered">
      <div class="container">
         <div class="columns">
          <div class="column is-8-desktop is-offset-2-desktop">
            <p style="margin-top: 1rem;">
            	NSM ITM
            </p>
          </div>
        </div>
      </div>
    </footer>

  </body>

  <script type="text/javascript" src="../assets/js/jquery-3.3.1.js"></script>
  <script type="text/javascript">
  	$(document).ready(function() {
  		console.log('Ready');
  	});
  </script>
  
</html>