<!DOCTYPE html>
<html>
<head>
	<title>SPY Walk Rally</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="../assets/css/main.css">
</head>

<body>
	

    <section class="hero is-medium is-black">
      <div class="hero-body" style="padding-bottom: 3rem;padding-top: 3rem;">
        <div class="container">
          <div class="columns">
            <div class="column is-8-desktop is-offset-2-desktop">
              <img src="../assets/image/spy-cover-logo.png" style="display:inline-block" width="500">
            </div>
          </div>
        </div>
      </div>
    </section>

   	<section class="section">
		<div class="container">
			<div class="columns">
				<div class="column">
					<a class="navbar-item button is-dark" href="/">
			        	Home
			      	</a>
			      </div>
			      <div class="column">
			      	<a class="navbar-item button is-dark" href="/player">
				        Current Players
					</a>
				</div>
			      <div class="column">
			      	<a class="navbar-item button is-light" href="/registration">
				        Final Checkpoint
					</a>
				</div>
		  	</div>
		</div>
	</section>

	<form action="" method="post" id="form1">
    <section class="section">
    	<div class="container"  id="disp">

    		<div class="field">
			  <label class="label is-large">Token</label>
			  <div class="control">
			    <input class="input is-large is-focused" type="text" name="token" placeholder="Text input" autofocus>
			  </div>
			</div>

    		<div class="field">
			  <label class="label">Firstname</label>
			  <div class="control">
			    <input class="input" type="text" placeholder="Text input" name="firstname">
			  </div>
			</div>

			
    		<div class="field">
			  <label class="label">Lastname</label>
			  <div class="control">
			    <input class="input" type="text" placeholder="Text input" name="lastname">
			  </div>
			</div>

			
    		<div class="field">
			  <label class="label">E-mail</label>
			  <div class="control">
			    <input class="input" type="email" placeholder="Text input" name="email">
			  </div>
			</div>

    		<div class="field">
			  <label class="label">Telephone</label>
			  <div class="control">
			    <input class="input" type="text" placeholder="Text input" name="telephone">
			  </div>
			</div>

			
			<div class="field is-grouped">
			  <div class="control">
			    <button class="button is-link" type="submit" form="form1">Submit</button>
			  </div>
			  <div class="control">
			    <button class="button is-text">Cancel</button>
			  </div>
			</div>

		</div>
  	</section>
  	</form>

    <footer class="footer has-text-centered">
      <div class="container">
         <div class="columns">
          <div class="column is-8-desktop is-offset-2-desktop">
            <p style="margin-top: 1rem;">
            	NSM ITM
            </p>
          </div>
        </div>
      </div>
    </footer>

  </body>

  <script type="text/javascript" src="../assets/js/jquery-3.3.1.js"></script>
  <script type="text/javascript">
  	$(document).ready(function() {
  		console.log('Ready');


		$(window).keydown(function(event){
			if(event.keyCode == 13) {
				event.preventDefault();
				return false;
			}
		});

  	});

  </script>
</html>